
//@import 'reset.scss';
@import 'normalize.scss';
//@import 'bootstrap/bootstrap-grid.scss';

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//Fonts
//--Open Sans
// @import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=cyrillic,cyrillic-ext,latin-ext);

@mixin font-regular {
  font-family: 'Arial', 'Helvetica', sans-serif;
}
@mixin font-head {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

$brand-color: #0481c2;

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
  	@include font-head;
	color: $brand-color;
	a {
		@include font-head;
		color: $brand-color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
a {
	@include font-regular;
	color: $brand-color;
	text-decoration: underline;
}
p {
	margin-top: 0;
	line-height: 1.2em;
}
p, small, .more{
	@include font-regular;
	color: #404040;
	font-size: 12px;
}
.more {
	text-decoration: none;
	color: #878787;
	transition: all ease .3s;
	&:hover {
		color: #404040;
	}
}

html, body {
	height: 100%;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	padding-bottom: 101px;
	width: 985px;
	min-height: 100%;
}

.header {
	@include clearfix;
	padding: 50px 0;
	.main-nav {
		padding-top: 5px;
		float: right;
		a {
			margin-right: 22px;
			@include font-head;
			font-size: 20px;
			line-height: 22px;
			color: #878787;
			text-decoration: none;
			transition: all ease .3s;
			&:last-of-type {
				margin-right: 0;
			}
			&.active {
				color: $brand-color;
			}
			&:hover {
				color: $brand-color;
			}
		}
	}
}
.logo {
	float: left;
	width: 108px;
	height: 51px;
	background-image: url(../img/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.nav {

}

.main {
	@include clearfix;
}
.sidebar, .content {
	padding: 20px 0 25px 0;
	border-top: 5px solid $brand-color;
	//border-bottom: 5px solid $brand-color;
}

.sidebar {
	float: left;
	width: 230px;
	margin-right: 10px;
}
// .search {
// 	margin-bottom: 21px;
// }
.search-form {
	position: relative;
	margin-bottom: 21px;
	.search-text {
		padding: 6px 35px 6px 7px;
		width: 100%;
		border: 1px solid #515151;
		@include font-regular;
		font-size: 12px;
		line-height: 14px;
		color: #515151;
		&:focus {
			outline: none;
		}
		&:placeholder {
			color: #d2d1d1;
		}
	}
	.search-submit {
		position: absolute;
		top: 0;
		right: 0;
		width: 34px;
		height: 28px;
		background: transparent;
		color: transparent;
		border: none;
		background-image: url(../img/icon-search.png);
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
	}
}

.latest-news {
	h2 {
		margin-bottom: 10px;
		font-size: 24px;
		line-height: 26px;
	}
	.news {
		padding: 19px 0;
		width: 100%;
		//min-height: 165px;
		border-bottom: 1px solid #404040;
		&:first-of-type {
			border-top: 1px solid #404040;
		}
		h3 {
			margin-bottom: 16px;
			font-size: 14px;
			line-height: 16px;
		}
		p {
			margin-bottom: 12px;
			min-height: 56px;
		}
	}
}


.content {
	float: left;
	width: 745px;
	//display: flex;
	.articles-wrapper {
		display: flex;
	}
	article {
		margin-right: 10px;
		flex-basis: 33%;
		&:last-child {
			margin-right: 0;
		}
		img {
			width: 100%;
			margin-bottom: 7px;
		}
		h2 {
			margin-bottom: 12px;
			font-size: 18px;
		}
		p {
			margin-bottom: 13px;
			max-height: 68px;
			overflow: hidden;
		}
	}
}
.banner {
	position: relative;
	margin-bottom: 39px;
	width: 100%;
	&-img {
		width: 100%;
		height: 100%;
	}
	&-content {
		position: absolute;
		height: 99%;
		top: 0;
		right: 0;
		width: 205px;
		background-color: rgba(170, 170, 170, 0.47);

		&:before {
			content: '';
			display: inline-block;
			margin-right: -0.25em;
			height: 100%;
			vertical-align: middle;
		}
	}
	&-container {
		display: inline-block;
		padding: 0 15px;
		width: 204px;
		vertical-align: middle;
		h3 {
			margin-bottom: 20px;
			color: #fff;
		}
		p {
			color: #fff;
		}
	}
}

#footer {
	@include clearfix;
	position: absolute;
	bottom: 65px;
	left: 0;
	//display: flex;
	//padding: 10px 35px 70px 35px;
	width: 100%;
	.borders {
		//@include clearfix;
		&:before, &:after {
			content: '';
			margin-bottom: 10px;
			height: 5px;
			background-color: $brand-color;
		}
		&:before {
			float: left;
			margin-right: 10px;
			width: 230px;
		}
		&:after {
			float: right;
			width: 745px;
		}
	}
}
.social {
	float: left;
	.icon {
		display: inline-block;
		margin-right: 3px;
		width: 21px;
		height: 21px;
		background-image: url(../img/icons-social.png);
		background-size: 21px 21px;
		background-repeat: no-repeat;
		background-size: cover;
		&:last-child {
			margin-right: 0;
		}
	}
	.facebook {
		background-position: 0 0;
	}
	.twitter {
		background-position: -26px 0px;
	}
	.linkedin {
		background-position: -52px 0;
	}
	.myspace {
		background-position: -75px 0;
	}
	.rss {
		background-position: -102px 0;
	}
}
.copy {
	float: right;
	margin-top: 3px;
	flex-grow: 1;
	text-align: right;
}
